# https://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{swift,m,c,h,cpp,md}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{rb,yml},Fastfile,Gemfile]
indent_style = space
indent_size = 2

[*.sh,hooks/**]
indent_style = space
indent_size = 4
