.DS_Store

.ruby-version

/.build
/*.xcodeproj
xcuserdata/
*.xcscmblueprint
timeline.xctimeline

DerivedData/

.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata/xcuserdata

.netrc
.vscode

/Binaries
/Configuration

/fastlane/README.md
/fastlane/report.xml
/fastlane/test_output

/.bundle
/vendor
