.DS_Store

/.build
/Packages
/*.xcodeproj
xcuserdata/
*.xcscmblueprint

DerivedData/

.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

.netrc
.vscode

/Binaries
/Configuration

/fastlane/README.md
/fastlane/report.xml
/fastlane/test_output
/Configuration

/.bundle
