PRODUCT_BUNDLE_IDENTIFIER = ch.srgssr.$(COMMON__BUNDLE_IDENTIFIER)$(COMMON__BUNDLE_IDENTIFIER_SUFFIX)
PRODUCT_NAME = Pillarbox-demo

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Nightly] = NIGHTLY
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = DEBUG

COMMON__BUNDLE_IDENTIFIER = Pillarbox-demo

COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Debug] = .debug
