PRODUCT_BUNDLE_IDENTIFIER = ch.srgssr.$(COMMON__BUNDLE_IDENTIFIER)$(COMMON__BUNDLE_IDENTIFIER_SUFFIX)
PRODUCT_NAME = Pillarbox-demo

BUNDLE_DISPLAY_NAME = Pillarbox
BUNDLE_DISPLAY_NAME[config=Nightly] = Pillarbox 🌙
BUNDLE_DISPLAY_NAME[config=Debug] = Pillarbox 🛠

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Nightly] = NIGHTLY
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = DEBUG

ASSETCATALOG_COMPILER_APPICON_NAME[sdk=iphone*] = AppIcon
ASSETCATALOG_COMPILER_APPICON_NAME[sdk=appletv*] = App Icon & Top Shelf Image

COMMON__BUNDLE_IDENTIFIER = Pillarbox-demo

COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Debug] = .debug
